name: Keploy Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      [ master ]
jobs:
  keploy-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Docker を使うので必須
      - name: Set up Docker
        uses: docker/setup-buildx-action@v3
      # docker compose v2 を明示（ubuntu-latest では大体入ってるが保険）
      - name: Install docker-compose
        run: |
          docker compose version
      # Go の依存整理（任意だが安全）
      - name: Go mod tidy
        run: make tidy
      # Keploy Test 実行
      - name: Test-Report
        uses: keploy/testgpt@main
        with:
          working-directory: ./
          delay: 10
          command: "docker compose build && docker run --name point-app --network pointservice_keploy-network -e POINT_MYSQL_HOST=mysql -e POINT_MYSQL_DATABASE=appdb -e POINT_MYSQL_PORT=3306 -e POINT_MYSQL_USER=appuser -e POINT_MYSQL_PASSWORD=apppass -e POINT_MYSQL_MAX_OPEN_CONNECTIONS=2 -e POINT_MYSQL_MAX_IDLE_CONNECTIONS=1 point-service:1.0"
      # 後片付け
      - name: Cleanup
        if: always()
        run: make down
